<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app >
	<!-- location of spring xml files -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<display-name>MainServlet</display-name>
		<description></description>
		<servlet-class>com.nuuptech.servlets.MainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/MainServlet</url-pattern>
	</servlet-mapping>
</web-app>
